*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    border: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1200px;
}
.white{
    color:#ffffff;

}
.green{
    background-color: #2ecc71;
}

.middle{
    text-align: center;
}
.heading{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color:#566366 ;
}
.child-heading{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    color: #566366;
}
.paragraph{
    font-size: 18px;
    font-weight: 400;
    color: #919191;
}
.space{
    padding-top: 100px;
}
nav{
    background-color: #252d2f;
}
.nav-link:hover{
    color:green
}

.banner{
    background-image: url(../images/Focal\ Resume.jpg);
    height: 1000px;
    background-size: cover;
}
.banner-content{
    text-align: center;
    padding-top: 503px;
    padding-bottom: 304px;
  
} 
section.banner button{
    border: 2px solid white;

} 
#about-color,section.radio, section.resume, section.group-image{
    background-color: #f1f1f1;
}
section.skill button,section.resume button{
    border: 2px solid #2dcb71;
    color: #2dcb71;
}
section.resume{
    background-color: #f1f1f1;
};

section.resume button{
    border: 2px solid #2dcb71;
    color: #2dcb71;

}
.forms{
    background-color: #252d2f;
}
.forms-text{
    color:#919191
}
form label{
    text-transform: capitalize;
}
.black{
    background-color: #191f21;
}


form input{
    background-color: #4b5456;
}
textarea{
    background-color: #4b5456;

}
.title{
    width: 100%;
}
section.footers{
    background-color: #181f21;
}
footer{
    padding: 50px;
    
}
.footer-content{
    background-color:#4b5355;
}
section.forms button{
    display: block;
    margin: auto;
}